.entre-page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.entre-row-one {
    height: 55%;
    display: flex;
}

.entre-row-two {
    height: 45%;
}

.entre-left-col {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.smart-home-container {
    flex: 1;
    height: 100%;
}

.public-transport-container {
    flex: 1;
    height: 100%;
}

.entre-right-col {
    widt: 50%;
    flex: 1;
}

.public-transport-frame {
    width: 100%;
    height: 100%;
    border: none;
}

.weather-frame {
    width: 100%;
    height: 100%;
    border: none;
}