.entre-page {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.entre-col-one {
    width: 50%;
    display: flex;
}

.entre-col-two {
    width: 50%;
}

.smart-home-container {
    flex: 1;
    height: 100%;
}

.public-transport-container {
    flex: 1;
    height: 50%;
}

.public-transport-frame {
    width: 100%;
    height: 100%;
    border: none;
}

.weather-container {
    width: 100%;
    height: 50%;
    padding: 1rem;
    overflow: scroll;
}

.weather-container--current-temp {
    margin-top: 0;
}