.forecast {
    display: flex;
    justify-content: space-between;
}

.forecast-for-day {
    margin-top: 1rem;
}

.forecast-for-day:first-child {
    margin-top: 0;
}

.forecast-item {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forecast-day-name {
    display: inline;
}

.forecast-max-min-temp {
    display: inline;
}

.focused-weather-container {
    overflow: scroll;
}

.weather-large .forecast-for-day {
    display: flex;
    justify-content: space-between;
}

.weather-large .forecast-day-name,
.weather-large .forecast-max-min-temp,
.weather-large .forecast-item
{
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
}

.weather-large .forecast-day-name {
    order: 1;
    font-weight: bold;
    font-size: 1.2rem;
}

.weather-large .forecast {
    order: 2;
}

.weather-large .forecast-max-min-temp {
    order: 3;
}

