.flows {
    display: flex;
    flex-wrap: wrap;
}

.flow {
    cursor: pointer;
    border: 1px solid var(--sl-color-neutral-200);
    border-radius: 15px;
    background-color: var(--sl-panel-background-color);
    padding: 1rem;
    margin: 1rem;
    display: flex;
    align-items: center;
}

.flow:hover {
    background-color: var(--sl-color-gray-400);
}

.flow-play {
    order: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 20px;
    border-color: transparent transparent transparent var(--sl-color-gray-600);
    cursor: pointer;
    border-style: solid;
    border-width: 10px 0 10px 16px;
    margin-right: .5rem;
}