body, html {
  background: #1a1a1e;
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.homey-dashboard {
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-medium);
  font-weight: var(--sl-font-weight-normal);
  letter-spacing: var(--sl-letter-spacing-normal);
  background-color: var(--sl-color-neutral-0);
  color: var(--sl-color-neutral-900);
  line-height: var(--sl-line-height-normal);
  height: 100%;
  display: flex;
  flex-direction: row;
}

.second-column {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.first-row {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

.focus-area {
  flex: 1;
}

.second-row {
  display: flex;
  overflow-x: scroll;
  flex-shrink: 0;
}

section {
  margin: 1rem;
}